<section class="card">
    <div class="car body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi labore a ipsa officia aut veritatis voluptatibus, eaque modi alias nemo voluptatum nobis architecto vitae nihil, consequuntur incidunt dignissimos reprehenderit. Similique.</p>
    </div>
</section>