<div class="jumbotron mt-4">
    <h1 class="display-4"> Intento de la aplicacion de web2</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis doloremque laudantium fuga excepturi, nemo minima aliquid consequatur velit beatae numquam ipsum ducimus esse provident alias repellat odit! Perferendis, laudantium doloremque.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsa rem sapiente ullam eos reprehenderit molestiae. Perspiciatis eius aspernatur itaque culpa quas! Repellat similique eum velit recusandae aliquid ut adipisci.</p>
    <a href="https://www.google.com/?hl=es" class="btn btn-primary">JeliApp</a>
</div>
    

